@charset= "UTF-8";


html{
    margin:  290px;
	padding: 15px;
	border:  150px;
	outline: 50px;
}

.conteiner{
    display: inline-flex;
    
}
.firstbox{ 
    
    background-color: #DFC4CE;
    width: 30%;
    height: 700px;
    padding: 5%;

}
.secondbox{
    background-color: #C49595;
    width: 50%;
    padding: 5%;
    
}


#circulo {
  width: 150px;
  height: 150px;
  background: #C49595;
  border-radius: 100px;
  opacity: 20%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 0%;
  
}

.myname{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 40px;
    
}
.ocupation{
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 3px;
    border-style: groove;
    
}
hr.soliduno{
    border-top: solid black;

}

.uno{
    font-size: 15px;
    text-align: center;
    align-content: center;
    border: solid black;
    margin-left: 30%;
    margin-right: 30%;
}
/*
.listas2{
    text-align: center;
}
*/


.twitter{
    text-align: c;

}
.facebook{

}






